{% extends "partials/base.html" %}
{% load static %}
{% block content %}
			<div id="content" class="uicore-content">
				<script id="uicore-page-transition">window.onload = window.onpageshow = function () { }; </script>
				<div id="primary" class="content-area">
					<article id="post-12" class="post-12 page type-page status-publish hentry">
						<main class="entry-content">
							<div data-elementor-type="wp-page" data-elementor-id="12" class="elementor elementor-12">
								<section
									class="elementor-section elementor-top-section elementor-element elementor-element-142e095 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"
									data-id="142e095" data-element_type="section"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3ba3e48"
											data-id="3ba3e48" data-element_type="column">
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-f0f30b8 ui-e-a-animate elementor-invisible elementor-widget elementor-widget-highlighted-text"
													data-id="f0f30b8" data-element_type="widget"
													data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:250}"
													data-widget_type="highlighted-text.default">
													<div class="elementor-widget-container">
														<h2 class="ui-e--highlighted-text">
															<span class="ui-e-headline-text">About Us</span>
															
														</h2>
													</div>
												</div>
												<div class="elementor-element elementor-element-34f85df elementor-invisible elementor-widget elementor-widget-text-editor"
													data-id="34f85df" data-element_type="widget"
													data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:350}"
													data-widget_type="text-editor.default">
													<div class="elementor-widget-container help-smaller-text">
														Help application is redefining the scope of service provision in Nigeria and beyond. We are on-demand platform that connects clients with service providers. Whether you need a carpenter, or a house cleaner or a delivery person, Help app has you covered. We make it easy to find and book those services that you need and we pride ourselves on our reliability and convenience. We have professional service providers that has been vetted and rated across many industries waiting to accept your bookings and deliver the best of services to you. Simple download the help app , select the service that you wish to receive, relax and allow our professionals take it up from there. 
													</div>
												</div>
												
											</div>
										</div>
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a7c1507"
											data-id="a7c1507" data-element_type="column"
											data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-47d122d elementor-widget elementor-widget-image"
													data-id="47d122d" data-element_type="widget"
													data-widget_type="image.default">
													<div class="elementor-widget-container">
														<img loading="lazy" decoding="async" width="768" height="576"
															src="{% static 'wp-content/uploads/sites/6/2023/06/Marketing-Automation-Convert-Image-1.webp' %}"
															class="attachment-full size-full wp-image-35" alt
														/>
													</div>
												</div>
											
											</div>
										</div>
									</div>
								</section>
								
								
								  
							
						
						
							
								<section
									class="elementor-section elementor-top-section elementor-element elementor-element-7a157dc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
									data-id="7a157dc" data-element_type="section" style="background: #F5EAF7;">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3d380ee"
											data-id="3d380ee" data-element_type="column"
											data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
											<div class="elementor-element elementor-element-81fdba3 elementor-widget elementor-widget-image"
													data-id="81fdba3" data-element_type="widget"
													data-widget_type="image.default">
													<div class="elementor-widget-container">
														<img loading="lazy" decoding="async" width="768" height="576"
															src="{% static 'images/help-phone-removebg-preview.webp' %}"
															class="attachment-full size-full wp-image-39" alt
															/>
													</div>
												</div>
										</div>
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bf0a35f"
											data-id="bf0a35f" data-element_type="column" >
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-ed86b87 ui-e-a-animate elementor-invisible elementor-widget elementor-widget-highlighted-text" 
													data-id="ed86b87" data-element_type="widget" style="margin-bottom: 30px;"
													data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:250}"
													data-widget_type="highlighted-text.default">
													<div class="elementor-widget-container">
														<h2 class="ui-e--highlighted-text  custom-help-app-text" >
															<span class="ui-e-headline-text ui-e-headline-color">
																<span class="whitespace"> </span><span>Download Help App Today</span>
														</h2>
													</div>
												</div>
												
												<section
													class="elementor-section elementor-inner-section elementor-element elementor-element-d39795f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
													data-id="d39795f" data-element_type="section" >
													<div class="elementor-container elementor-column-gap-default">
														<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-64d9f22"
															data-id="64d9f22" data-element_type="column" >
															<div
																class="elementor-widget-wrap elementor-element-populated " >
																<div class="elementor-flex-container"  >
																	<div class="elementor-element elementor-element-027f64c elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInUp" data-id="027f64c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																		<div class="elementor-widget-container" >
																		<a href="#">
																		<img decoding="async" width="312" height="96" src="{% static "images/Google-Play.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-13 help-app-app" style="border-radius: 5px; " alt="" > </a>
																		</div>
																	</div>
																	<div style="width: 18px;">
																	</div>
																	<div class="elementor-element elementor-element-e60b7b9 elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInUp" data-id="e60b7b9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																		<div class="elementor-widget-container">
																		<a href="#">
																		<img decoding="async" width="312" height="96" src="{% static "images/App-Store.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-14 help-app-app" style="border-radius: 5px;" alt="" > </a>
																		</div>
																	</div>
																</div>
																<div class="elementor-element elementor-element-027f64c elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInUp help-app-store" data-id="027f64c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																	<div class="elementor-widget-container">
																	<a href="#">
																	<img decoding="async" width="312" height="96" src="{% static "images/Google-Play.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-13 help-app-app" style="border-radius: 5px;" alt="" > </a>
																	</div>
																</div>
																<div class="elementor-element elementor-element-e60b7b9 elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInUp help-app-store" data-id="e60b7b9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																	<div class="elementor-widget-container">
																	<a href="#">
																	<img decoding="async" width="312" height="96" src="{% static "images/App-Store.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-14 help-app-app" style="border-radius: 5px;" alt="" > </a>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
										
									</div>
								</section>
								
							
							</div>
						</main>
					</article>
				</div>
			</div>
{% endblock content %}