{% extends "partials/base.html" %}
{% load static %}
{% block content %}
			<div id="content" class="uicore-content">
				<script id="uicore-page-transition">window.onload = window.onpageshow = function () { }; </script>
				<div id="primary" class="content-area">
					<article id="post-12" class="post-12 page type-page status-publish hentry">
						<main class="entry-content">
							<div data-elementor-type="wp-page" data-elementor-id="12" class="elementor elementor-12">
								<section
									class="elementor-section elementor-top-section elementor-element elementor-element-142e095 elementor-reverse-mobile elementor-section-boxed elementor-section-height-default elementor-section-height-default"  style="background: #fff;"
									data-id="142e095" data-element_type="section"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3ba3e48"
											data-id="3ba3e48" data-element_type="column" >
											<div class="elementor-widget-wrap elementor-element-populated" style="background: #F6F7F9; border-radius: 5px; margin-right: 0px;">
												<div class="elementor-element elementor-element-f0f30b8 ui-e-a-animate elementor-invisible elementor-widget elementor-widget-highlighted-text"
													data-id="f0f30b8" data-element_type="widget"
													data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:250}"
													data-widget_type="highlighted-text.default">
													<div class="elementor-widget-container">
														<h2 class="ui-e--highlighted-text">
															<span class="ui-e-headline-text">Contact Us</span>
															
														</h2>
													</div>
												</div>
												<div class="elementor-element elementor-element-34f85df elementor-invisible elementor-widget elementor-widget-text-editor"
													data-id="34f85df" data-element_type="widget"
													data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:350}"
													data-widget_type="text-editor.default">
													<div class="elementor-widget-container ">
													
													<form class="form" style="background: #F6F7F9;">
														{% csrf_token %}
															<p class="form-title">Reach out to us today for any enquiry</p>
														<div class="input-container">
															<input placeholder="Full Name" type="text">
													
														</div>
														<div class="input-container">
															<input placeholder="Email Address" type="email">
															
														</div>
														<div class="input-container">
															<textarea rows="5" style="resize: none;" placeholder="Enter your message or enquiry here"></textarea>
															
														</div>
														
														<button class="submit" type="submit">
															Submit
														</button>
													
														
													</form>
 
													</div>
												</div>
												
											</div>
										</div>
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-a7c1507"
											data-id="a7c1507" data-element_type="column"
											data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
											
											
													
											<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31717.761325413197!2d3.4022878040316096!3d6.429983987898968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103bf52dc0328169%3A0x7885a1a33689a576!2sVictoria%20Island%2C%20Lagos%20106104%2C%20Lagos!5e0!3m2!1sen!2sng!4v1712577720359!5m2!1sen!2sng" width="600" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
												
										
										</div>
									</div>
								</section>
								<div class="elementor-section elementor-top-section elementor-element  elementor-section-boxed elementor-section-height-default elementor-section-height-default"
								data-id="0295822" data-element_type="section"
								data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
								
								
								<div class="elementor-container elementor-column-gap-default">
									<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-6832d1c"
										data-id="6832d1c" data-element_type="column">
										<div class="elementor-widget-wrap elementor-element-populated" style="margin-bottom: 50px;">
										
											<section
												class="elementor-section elementor-inner-section elementor-element elementor-element-74278e4 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
												data-id="74278e4" data-element_type="section">
												<div class="elementor-container elementor-column-gap-default">
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-58a764c"
														data-id="58a764c" data-element_type="column">
														<div
															class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-3365e3f bdt-icon-effect-c bdt-icon-type-icon elementor-position-top elementor-invisible elementor-widget elementor-widget-bdt-advanced-icon-box"
																data-id="3365e3f" data-element_type="widget"
																data-settings="{&quot;_animation&quot;:&quot;zoomOutUp&quot;,&quot;_animation_delay&quot;:550}"
																data-widget_type="bdt-advanced-icon-box.default">
																<div class="elementor-widget-container">
																	<div class="bdt-ep-advanced-icon-box disp-flex">
																		<div class="bdt-ep-advanced-icon-box-icon">
																			<span
																				class="">
																				<img src="{% static "images/hxtcyvuhijxfcgvhbjnk.webp" %}" class="custom-help-img"/>
																			</span>
																		</div>
																		<div
																			class="bdt-ep-advanced-icon-box-content">
																			<h3
																				style="margin-left: 14px;  text-align: left;">
																				Location
																			</h3>
																			<span style="color: #000; margin-left: 18px;" class="small-text-egruhgj">
																				Ikotun Lagos ,Nigeria
																			</span>
																			
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8c9d449"
														data-id="8c9d449" data-element_type="column">
														<div
															class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-f059994 bdt-icon-effect-c bdt-icon-type-icon elementor-position-top elementor-invisible elementor-widget elementor-widget-bdt-advanced-icon-box"
																data-id="f059994" data-element_type="widget"
																data-settings="{&quot;_animation&quot;:&quot;zoomOutUp&quot;,&quot;_animation_delay&quot;:650}"
																data-widget_type="bdt-advanced-icon-box.default">
																<div class="elementor-widget-container">
																	<div class="bdt-ep-advanced-icon-box disp-flex">
																		<div class="bdt-ep-advanced-icon-box-icon">
																			<span
																				class="">
																				<img src="{% static "images/dfcgvhbjnkml.webp" %}" class="custom-help-img"/>
																			</span>
																		</div>
																		<div
																			class="bdt-ep-advanced-icon-box-content">
																			<h3
																				style="margin-left: 14px; text-align: left;">
																				Email
																			</h3>
																			<span style="color: #000; margin-left: 18px;" class="small-text-egruhgj">
																				Support@Helpappafrica.com
																			</span>
																			
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="elementor-column elementor-col-33 elementor-inner-column elementor-element elementor-element-8008b23"
														data-id="8008b23" data-element_type="column">
														<div
															class="elementor-widget-wrap elementor-element-populated">
															<div class="elementor-element elementor-element-187acdc bdt-icon-effect-c bdt-icon-type-icon elementor-position-top elementor-invisible elementor-widget elementor-widget-bdt-advanced-icon-box"
																data-id="187acdc" data-element_type="widget"
																data-settings="{&quot;_animation&quot;:&quot;zoomOutUp&quot;,&quot;_animation_delay&quot;:750}"
																data-widget_type="bdt-advanced-icon-box.default">
																<div class="elementor-widget-container">
																	<div class="bdt-ep-advanced-icon-box disp-flex">
																		<div class="bdt-ep-advanced-icon-box-icon">
																			<span
																				class="">
																				<img src="{% static "images/wedrftyui.webp" %}" class="custom-help-img"/>
																			</span>
																		</div>
																		<div
																			class="bdt-ep-advanced-icon-box-content">
																			<h3
																				style="margin-left: 14px; text-align: left;">
																				Phone
																			</h3>
																			<span style="color: #000; margin-left: 18px;" class="small-text-egruhgj">
																				+1 (614) 216 - 1159
																			</span>
																			
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
													
												</div>
											</section>
										</div>
									</div>
								</div>
							</div>
								
							
						
						
							
								<section
									class="elementor-section elementor-top-section elementor-element elementor-element-7a157dc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
									data-id="7a157dc" data-element_type="section" style="background: #F5EAF7;">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3d380ee"  style="margin-bottom: 50px;"
											data-id="3d380ee" data-element_type="column"
											data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
											<div class="elementor-element elementor-element-81fdba3 elementor-widget elementor-widget-image"
													data-id="81fdba3" data-element_type="widget"
													data-widget_type="image.default">
													<div class="elementor-widget-container">
														<img loading="lazy" decoding="async" width="768" height="576"
															src="{% static 'images/help-phone-removebg-preview.webp' %}"
															class="attachment-full size-full wp-image-39" alt
															/>
													</div>
												</div>
										</div>
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bf0a35f"
											data-id="bf0a35f" data-element_type="column" >
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-ed86b87 ui-e-a-animate elementor-invisible elementor-widget elementor-widget-highlighted-text" 
													data-id="ed86b87" data-element_type="widget" style="margin-bottom: 30px;"
													data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:250}"
													data-widget_type="highlighted-text.default">
													<div class="elementor-widget-container">
														<h2 class="ui-e--highlighted-text  custom-help-app-text" >
															<span class="ui-e-headline-text ui-e-headline-color">
																<span class="whitespace"> </span><span class="small-text-egruh">Download Help App Today</span>
														</h2>
													</div>
												</div>
												
												<section
													class="elementor-section elementor-inner-section elementor-element elementor-element-d39795f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
													data-id="d39795f" data-element_type="section" >
													<div class="elementor-container elementor-column-gap-default">
														<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-64d9f22"
															data-id="64d9f22" data-element_type="column" >
															<div
																class="elementor-widget-wrap elementor-element-populated ">
																<div class="elementor-flex-container">
																	<div class="elementor-element elementor-element-027f64c elementor-widget__width-auto elementor-widget elementor-widget-image" data-id="027f64c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																		<div class="elementor-widget-container" >
																		<a href="#">
																		<img decoding="async" width="312" height="96" src="{% static "images/Google-Play.webp" %}" 
																		class="elementor-animation-grow attachment-full size-full wp-image-13 help-app-app" style="border-radius: 5px; display: flex; align-items: center; justify-content: center;" alt="" > </a>
																		</div>
																	</div>
																	<div style="width: 18px;">
																	</div>
																	<div class="elementor-element elementor-element-e60b7b9 elementor-widget__width-auto elementor-widget elementor-widget-image " data-id="e60b7b9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																		<div class="elementor-widget-container">
																		<a href="#">
																		<img decoding="async" width="312" height="96" src="{% static "images/App-Store.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-14 help-app-app" style="border-radius: 5px;" alt="" > </a>
																		</div>
																	</div>
																</div>
																<div class="elementor-element elementor-element-027f64c elementor-widget__width-auto elementor-widget elementor-widget-image  help-app-store" data-id="027f64c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																	<div class="elementor-widget-container">
																	<a href="#">
																	<img decoding="async" width="312" height="96" src="{% static "images/Google-Play.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-13 help-app-app" style="border-radius: 5px;" alt="" > </a>
																	</div>
																</div>
																<div class="elementor-element elementor-element-e60b7b9 elementor-widget__width-auto elementor-widget elementor-widget-image  help-app-store" data-id="e60b7b9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																	<div class="elementor-widget-container">
																	<a href="#">
																	<img decoding="async" width="312" height="96" src="{% static "images/App-Store.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-14 help-app-app" style="border-radius: 5px;" alt="" > </a>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
										
									</div>
								</section>
								
							
							</div>
						</main>
					</article>
				</div>
			</div>
			<style>
				.grid-container {
					display: grid;
					grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
					gap: 20px; /* Gap between grid items */
				  }
				  
				  .grid-item {
					/* Style for grid items */
				  }
				  
			</style>
{% endblock content %}