{% extends "partials/base.html" %}
{% load static %}
{% block content %}
			<div id="content" class="uicore-content">
				<script id="uicore-page-transition">window.onload = window.onpageshow = function () { }; </script>
				<div id="primary" class="content-area">
					<article id="post-12" class="post-12 page type-page status-publish hentry">
						<main class="entry-content">
							<div data-elementor-type="wp-page" data-elementor-id="12" class="elementor elementor-12">
								
								<div class="elementor-section elementor-top-section elementor-element elementor-element-4937059 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
									data-id="4937059" data-element_type="section"
									data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-76df085"
											data-id="76df085" data-element_type="column">
											<div class="elementor-widget-wrap elementor-element-populated">
												
												<div class="elementor-element elementor-element-960d734 elementor-invisible elementor-widget elementor-widget-heading"
													data-id="960d734" data-element_type="widget"
													data-settings="{&quot;_animation&quot;:&quot;zoomOutUp&quot;,&quot;_animation_delay&quot;:350}"
													data-widget_type="heading.default">
													<div class="elementor-widget-container">
														<h2 class="elementor-heading-title elementor-size-default" style="text-align: left; font-weight: 700; padding-top: 40px;">
															Meet the Team</h2>
													</div>
												</div>
												<div class="elementor-element elementor-widget__width-initial elementor-widget-tablet__width-inherit elementor-widget-mobile__width-inherit elementor-invisible elementor-widget elementor-widget-text-editor"
													data-id="2efb19f" data-element_type="widget"
													data-settings="{&quot;_animation&quot;:&quot;zoomOutUp&quot;,&quot;_animation_delay&quot;:450}"
													data-widget_type="text-editor.default">
													<div class="elementor-widget-container"  style="text-align: left; margin-bottom: 30px; font-weight: 500;">
														At help app, we are a diverse team of dedicated individuals who are passionate about making life easier and service provision profitable and seamless. We come from all walks of life, but we are united by our common goal of creating platform that’s user-friendly, reliable and accessible.
													</div>
												</div>
												<section
													class="elementor-section elementor-inner-section elementor-element elementor-element-2327983 elementor-section-boxed elementor-section-height-default elementor-section-height-default"
													data-id="2327983" data-element_type="section">
													<div class="elementor-container elementor-column-gap-default" >
														<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a4a2a39"
															data-id="a4a2a39" data-element_type="column"
															data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="margin-bottom: 12px;">
															
																
															<div class="elementor-widget-container">
																<img loading="lazy" decoding="async" width="500" style=" border-radius: 8px;"
																	height="574"
																	src="{% static 'images/team.jpg' %}" 
																	class="attachment-full size-full help-app-large-image-1"
																	alt 
																	/>
																<div style="display: flex; align-items: center; justify-content: center;">
																	<div class="disp-flex team-info-section">
																		<div >
																			<h5>Prince Gboya</h5>
																			<p style="margin-bottom: 0px;">CEO</p>
																		</div>
																		<div >
																			<img class="align-img-right" style="height: 30px;" src="{% static 'images/help-logo-removebg-preview.webp' %}" alt="HelpApp Logo" />

																		</div>
																	</div>
																</div>
															</div>
												
														</div>
														<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a4a2a39"
															data-id="a4a2a39" data-element_type="column"
															data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="margin-bottom: 12px;">
												
											
															<div class="elementor-widget-container">
																<img loading="lazy" decoding="async" width="500" style=" border-radius: 8px;"
																	height="574"
																	src="{% static 'images/team.jpg' %}"
																	class="attachment-full size-full help-app-large-image-2"
																	alt
																	/>
																	<div style="display: flex; align-items: center; justify-content: center;">
																		<div class="disp-flex team-info-section">
																			<div >
																				<h5>Prince Gboya</h5>
																				<p style="margin-bottom: 0px;">CEO</p>
																			</div>
																			<div >
																				<img class="align-img-right" style="height: 30px;" src="{% static 'images/help-logo-removebg-preview.webp' %}" alt="HelpApp Logo" />
	
																			</div>
																		</div>
																	</div>
															</div>
															
														
														
														</div>
														
													</div>
													<div class="elementor-container elementor-column-gap-default" >
														<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a4a2a39"
															data-id="a4a2a39" data-element_type="column"
															data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="margin-bottom: 12px;" >
															
																
															<div class="elementor-widget-container">
																<img loading="lazy" decoding="async" width="500" style=" border-radius: 8px;"
																	height="574"
																	src="{% static 'images/team.jpg' %}" 
																	class="attachment-full size-full help-app-large-image-1"
																	alt
																	/>
																	<div style="display: flex; align-items: center; justify-content: center;">
																		<div class="disp-flex team-info-section">
																			<div >
																				<h5>Prince Gboya</h5>
																				<p style="margin-bottom: 0px;">CEO</p>
																			</div>
																			<div >
																				<img class="align-img-right" style="height: 30px;" src="{% static 'images/help-logo-removebg-preview.webp' %}" alt="HelpApp Logo" />
	
																			</div>
																		</div>
																	</div>
															</div>
												
														</div>
														<div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-a4a2a39"
															data-id="a4a2a39" data-element_type="column"
															data-settings="{&quot;background_background&quot;:&quot;classic&quot;}" style="margin-bottom: 12px;">
												
											
															<div class="elementor-widget-container">
																<img loading="lazy" decoding="async" width="500" style=" border-radius: 8px;"
																	height="574"
																	src="{% static 'images/team.jpg' %}"
																	class="attachment-full size-full help-app-large-image-2"
																	alt
																	/>
																	<div style="display: flex; align-items: center; justify-content: center;">
																		<div class="disp-flex team-info-section">
																			<div >
																				<h5>Prince Gboya</h5>
																				<p style="margin-bottom: 0px;">CEO</p>
																			</div>
																			<div >
																				<img class="align-img-right" style="height: 30px;" src="{% static 'images/help-logo-removebg-preview.webp' %}" alt="HelpApp Logo" />
	
																			</div>
																		</div>
																	</div>
															</div>
												
															
														
														
														</div>
														
													</div>
												</section>
											</div>
										</div>
									</div>
								</div>
								
						
					
					
						
							
								<section
									class="elementor-section elementor-top-section elementor-element elementor-element-7a157dc elementor-section-boxed elementor-section-height-default elementor-section-height-default"
									data-id="7a157dc" data-element_type="section" style="background: #F5EAF7;">
									<div class="elementor-container elementor-column-gap-default">
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-3d380ee" style="margin-bottom: 50px;"
											data-id="3d380ee" data-element_type="column"
											data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">

												<div class="elementor-element elementor-element-81fdba3 elementor-widget elementor-widget-image"
													data-id="81fdba3" data-element_type="widget"
													data-widget_type="image.default">
													<div class="elementor-widget-container">
														<img loading="lazy" decoding="async" width="768" height="576"
															src="{% static 'images/help-phone-removebg-preview.webp' %}"
															class="attachment-full size-full wp-image-39" alt
															/>
													</div>
												</div>
												
										
										</div>
										<div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-bf0a35f"
											data-id="bf0a35f" data-element_type="column" >
											<div class="elementor-widget-wrap elementor-element-populated">
												<div class="elementor-element elementor-element-ed86b87 ui-e-a-animate elementor-invisible elementor-widget elementor-widget-highlighted-text" 
													data-id="ed86b87" data-element_type="widget" style="margin-bottom: 30px;"
													data-settings="{&quot;_animation&quot;:&quot;fadeInLeft&quot;,&quot;_animation_delay&quot;:250}"
													data-widget_type="highlighted-text.default">
													<div class="elementor-widget-container">
														<h2 class="ui-e--highlighted-text  custom-help-app-text" >
															<span class="ui-e-headline-text ui-e-headline-color">
																<span class="whitespace"> </span><span class="small-text-egruh" style="text-align: center;">Download Help App Today</span>
														</h2>
													</div>
												</div>
												
												<section
													class="elementor-section elementor-inner-section elementor-element elementor-element-d39795f elementor-section-boxed elementor-section-height-default elementor-section-height-default"
													data-id="d39795f" data-element_type="section" >
													<div class="elementor-container elementor-column-gap-default">
														<div class="elementor-column elementor-col-100 elementor-inner-column elementor-element elementor-element-64d9f22"
															data-id="64d9f22" data-element_type="column" >
															<div
																class="elementor-widget-wrap elementor-element-populated " style="text-align: center;">
																<div class="elementor-flex-container"  >
																	<div class="elementor-element elementor-element-027f64c elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInUp" data-id="027f64c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																		<div class="elementor-widget-container" >
																		<a href="#">
																		<img decoding="async" width="312" height="96" src="{% static "images/Google-Play.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-13 help-app-app" style="border-radius: 5px; " alt="" > </a>
																		</div>
																	</div>
																	<div style="width: 18px;">
																	</div>
																	<div class="elementor-element elementor-element-e60b7b9 elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInUp" data-id="e60b7b9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																		<div class="elementor-widget-container">
																		<a href="#">
																		<img decoding="async" width="312" height="96" src="{% static "images/App-Store.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-14 help-app-app" style="border-radius: 5px;" alt="" > </a>
																		</div>
																	</div>
																</div>
																<div class="elementor-element elementor-element-027f64c elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInUp help-app-store" data-id="027f64c" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																	<div class="elementor-widget-container">
																	<a href="#">
																	<img decoding="async" width="312" height="96" src="{% static "images/Google-Play.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-13 help-app-app" style="border-radius: 5px;" alt="" > </a>
																	</div>
																</div>
																<div class="elementor-element elementor-element-e60b7b9 elementor-widget__width-auto elementor-widget elementor-widget-image animated fadeInUp help-app-store" data-id="e60b7b9" data-element_type="widget" data-settings="{&quot;_animation&quot;:&quot;fadeInUp&quot;,&quot;_animation_delay&quot;:&quot;200&quot;}" data-widget_type="image.default">
																	<div class="elementor-widget-container">
																	<a href="#">
																	<img decoding="async" width="312" height="96" src="{% static "images/App-Store.webp" %}" class="elementor-animation-grow attachment-full size-full wp-image-14 help-app-app" style="border-radius: 5px;" alt="" > </a>
																</div>
															</div>
														</div>
													</div>
												</section>
											</div>
										</div>
									</div>
								</section>
								
							
							</div>
						</main>
					</article>
				</div>
			</div>
{% endblock content %}